@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding:0;
    outline:none;
    border:none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    background:rgba(160, 255, 160, 0.082) ;
}

@media only screen and (max-width: 1075px){

    .hidden{
    display: none;
    }

    .left-nav ul{
    display: flex;
    justify-content: space-around;
    }

.left-nav{
    background-color:rgb(185, 185, 185);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    
}
a{
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 14px;
    display: block;
    width: auto;
    padding: 5px 0 0 0;
    text-decoration: none;
    list-style: none;
}

.top-nav ul{
    display: flex;
    justify-content: space-between;
    padding: 6px 0 0 15px; 
}
.logo img{
    width: 100%;
    height: 60px;
    margin-left: 10px;
    padding-bottom: 5px;
}

.logo a{
    padding: 10px;
}

.top-nav input[type=text]{
    padding: 10px;
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.116);
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 25px;
    font-size: 12px;
    
}

.top-nav{
    background: linear-gradient(to right, rgba(202, 202, 202, 0.863), #eeeeee5e);
    background-color: #979797;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding-bottom: 65px;
}



.menu{
    position: relative;
    padding: 10px;
}

.menu .items {
    position: absolute;
    z-index: 10;
    top: 60px;
    right: 0;
    border-radius: 2px;
    padding: 10px;
}

.left-nav a{
    position: relative;
    color: black;
    display: block;
    text-decoration: none;
}

.user-profile img{
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
}
.post-img{
    width: 100%;
    border-radius: 10% ;
    
    
}
.fa-ellipsis{
    position: relative;
    padding-left: 95%;
    cursor: pointer;
}



.container{
    padding-top:100px ;
    width: 100%;
    
    
    
}
.write-post{
    width: auto;
    background: #3f3e3e18;
    border-radius: 6px;
    padding: 0px 15px 15px 15px ;
    margin-top: 20px;
    color: #626262;
    
}

.post-text{
    color: #626262;
    margin: 15px 0;
    font-size: 15px;
}

.user-profile{     
    display: flex;
    align-items: center;
    
}

.user-profile p{
    margin-bottom: -5px;
    font-size: 14px;
    color:#424242 ;
}
.user-profile small{
    font-weight: 9px;
    
}

.activity-icon{
    display: flex;
    justify-content: space-around;
}

.activity-icon a{
    color:black;
}
}

@media only screen and (min-width: 1076px){
    
    .top-nav,.left-nav{
        display: none;
    }
    .hidden{
        position:fixed;
        top: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        background: #fff;
        width: 90px;
        overflow:hidden;
        transition:width 0.2s linear;
        box-shadow: 0 20px 35px rgba(0,0, 0, 0.1);
        
    }
    
    
    ul li .foodie{
        width: 100%;
        height: 60px;
    }
    .foodie span{
        position: relative;
        width: 100%;
        height: 40px;
        top:14px;
        font-size: 1.2rem;
        margin-left: 22px;
        text-align: right;
        font-weight: bold;
        text-transform: uppercase;
    }

    .hidden a{
        position: relative;
        color: rgb(0, 0, 0);
        font-size: 14px;
        display: block;
        width: 300px;
        padding: 10px;
        margin-top: 20px;
        text-decoration: none;
    }
    .container a{
        position: relative;
        color: rgb(0, 0, 0);
        font-size: 14px;
        display: block;
        width: 300px;
        padding: 5px;
        
    }
    .fa-solid{
        position: relative;
        width: 70px;
        height: 40px;
        top:14px;
        font-size:20px;
        text-align: center;
    }
    .fa-regular{
        position: relative;
        width: 70px;
        height: 40px;
        top:14px;
        font-size:20px;
        text-align: center;
    }
    .nav-item{
        position: relative;
        top:12px;
        margin-left: 10px;
        
    }
    .hidden a:hover{
        background: #a7c783;
    }
    .hidden:hover{
        width: 275px;
        transition: all 0.5s ease;
    }
    .settings{
        position: absolute;
        bottom:0;
    }
    .logo .nav-item{
        color: rgb(0, 0, 0);
        
    }
    
    
    /* main content*/
    .container{
        width: auto;
        margin: 0 15% 0 20%;
        width: 53%;
    }
    .write-post{
        align-items: center;
        width: auto;
        background: #3f3e3e18;
        border-radius: 6px;
        padding: 0px 15px 15px 15px ;
        margin-top: 20px;
        color: #626262;
        
    }
    .user-profile{     
        display: flex;
        align-items: center;
        
    }
    .user-profile img{
        width: 45px;
        border-radius: 50%;
        margin-right: 10px;
        
        
    }
    .user-profile p{
        margin-bottom: -5px;
        font-weight: 500;
        color:#626262 ;
    }
    .user-profile small{
        font-weight: 12px;
        
    }
    .fa-ellipsis{
        position: relative;
        padding-left: 95%;
        cursor: pointer;
    }
    .post-text{
        color: #626262;
        margin: 15px 0;
        font-size: 15px;
    }
    .post-img{
        width: 100%;
        border-radius: 10% ;
        
        
    }
    .activity-icon{
        display: flex;
        justify-content: space-between;
        margin-top: 3px;
        text-align: center;
    }
    .activity-icon p{
        font-size: 18px;
    }
    /* back to right navbar*/
    .bro .right-nav {
        position:fixed;
        top:1px;
        padding: 10px 25px;
        margin-left: 80%;
        border-radius: 20px;
        background-color: #a7c783;
    }
    .bro .right-nave{
        position:fixed;
        top:1px;
        padding: 10px 25px;
        margin-left: 86%;
        border-radius: 20px;
        background-color: #a7c783;
        border-style: none;
        
    }
    .bro button a{
        color: #fff;
        text-decoration: none;
    }
}
